@media (min-width: 786px) {

    header {
        width: 500px;
        height: 15vh;
        .logo {
            font-size: 2.6em;
        }
    }

    .screen {
        width: 500px;
        height: 130px;
        .text {
            font-size: 3.4rem;
        }
    }

    .number-container {
        width: 500px;
        grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
    }
}