.screen {
    @extend .center-f;
    justify-content: end;
    width: 320px;
    height: 90px;
    margin-inline: auto;
    margin-block: 1.4rem;
    background-color: var(--ScreenBakcground);
    border-radius: 10px;
    padding: 1rem;
    overflow-x: auto;
    .text {
        font-size: 2.4rem;
        color: var(--TextColor1);
        font-weight: 700;
        letter-spacing: 1px;
    }
}

.number-container {
    width: 320px;
    background-color: var(--ToggleBtnBackground);
    margin-inline: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 20px;
    padding: 1.4rem;
    span {
        border-radius: 5px;
        @extend .center-f;
        height: 50px;
        font-size: 1.6em;
        font-weight: 800;
        text-transform: uppercase;
        cursor: pointer;
        transition: .5s;
        &:hover {
            filter: brightness(.8);
        }
    }
    span.math {
        background-color: var(--KeyBackground1);
        color: var(--TextColor2);
        box-shadow: 0 3px 0 var(--ColorShadow1);
    }
    span.equal {
        background-color: var(--KeyBackground3);
        color: var(--TextColor4);
        box-shadow: 0 3px 0 var(--ColorShadow3);
        font-size: 1.2em;
    }
    span.action {
        font-size: 1.125em;
        background-color: var(--KeyBackground2);
        color: var(--TextColor3);
        box-shadow: 0 3px 0 var(--ColorShadow2);
    }
    span.small {
        font-size: 1.1em;
    }
    span:nth-child(17) {
        grid-column: 1/3;
    }
    span:nth-child(18) {
        grid-column: 3/5;
    }
}